{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "{{ .pipelineName }}",
      "image": "{{ .AWS_ACCOUNT }}.dkr.ecr.{{ .AWS_REGION }}.amazonaws.com/{{ .pipelineName }}:{{ .version }}",
      "essential": true,
      "memory": 1024,
      "environment": [],
      "portMappings": [
        {
          "hostPort": {{ .host_port }},
          "containerPort": {{ .container_port }}
        }
      ]
    }
  ]
}
